
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static "ACQ/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "ACQ/bootstrap-table.min.css" %}">
        <style type="text/css">
            input {text-align: center;
            }
            div.tab-pane.fade{margin:auto;}
        </style>
        <script type="text/javascript" src="{% static "ACQ/jquery.min.js" %}"></script>
        <script type="text/javascript">
            $(function () {
                $("input").not("#inputShot,#UdMDS,#NoMDS").attr("style","width:100px");
                $("input").not("#TotalTime,#After0,#inputShot").attr("readonly","readonly");
                $("#TotalTime,#After0").attr("disabled","disabled");
                $("#ModifyAll").click(function () {
                    $("input").removeAttr("readonly");
                });
                $("#ModifyAll").dblclick(function () {
                    $("input").not("#TotalTime,#After0,#inputShot").attr("readonly","readonly");
                });
                var quiteTime = 60 * 60;
                var currentTime = 0;
                $("*").click(function () {
                    currentTime = 0;
                });

                $('*').mouseover(function () {
                    currentTime = 0;
                });

                setInterval(function () {
                    currentTime++;
                    if (currentTime >= quiteTime) {
                        {#alert("20分钟无人操作！");#}
                        window.location.href = window.location.origin + "/login";
                    }
                }, 1000);
                $("#Load").click(function () {
                    var shot=$("#inputShot").val();
                    $.get("../checkshot",{"shotnum":shot},function (result,status,xhr) {
                        if(status=="success" && result.exist=="yes"){
                            window.location.href="../load/"+shot;
                        }
                        else{
                            alert("This Shot Is Not Exist!");
                        }
                        })
                });
                $("#home").click(function () {
                    window.location.href=window.location.origin+"/home"
                });
            });
        </script>
        <title>ACQ</title>
    </head>

    <body>

        <div class="container-fluid">
            <!-- 主题 -->
            <div class="row">
                <div class="col-md-12">
                    <h3 id="title" class="text-center">
                        高速采集参数
{#                        <small class="text-muted">Designed by Dr. Songxm</small>#}
                    </h3>
                </div>
            </div>
            <hr>
            <!--header information-->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="version">Version:</span>
                      </div>
                      <input type="text" name="version" id="version" class="form-control version header"  aria-describedby="version"  disabled="true" value="{{ header.0 }}">
                    </div>
                 </div>
                <div class="col-md-2">
                     <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="operator">Operator:</span>
                          </div>
                          <input type="text" name="operator" id="operator" class="form-control header"  aria-describedby="operator"  disabled="true" value="{{ header.1 }}">
                    </div>
                 </div>
                <div class="col-md-2">
                     <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">ShotNum:</span>
                          </div>
                          <input type="text" name="ShotNum" id="ShotNum" class="form-control header"  aria-describedby="basic-addon1" disabled="true" value="{{ header.2 }}">
                    </div>
                 </div>
                <div class="col-md-3"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form action="{% url "ACQ:acq_save" %}" method="post">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-10 ">
    {#                            <table class="table table-sm table-hover table-bordered" style="text-align: center" data-toggle="table">#}
                                <table  id="table" style="text-align: center" data-toggle="table" data-height="750" data-show-columns="true"
  data-show-columns-toggle-all="true">
                                    <thead style="text-align: center">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Machine</th>
                                            <th scope="col">ChnlName</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">ChnlId</th>
                                            <th scope="col">Len</th>
                                            <th scope="col">Post</th>
                                            <th scope="col">MaxDat</th>
                                            <th scope="col">Freq</th>
                                            <th scope="col">LowRang</th>
                                            <th scope="col">HighRang</th>
                                            <th scope="col">Factor</th>
                                            <th scope="col">Offset</th>
                                            <th scope="col">Dly</th>
                                            <th scope="col">DatAttr</th>
                                            <th scope="col" >DatWth</th>
                                            <th scope="col">division</th>
                                            <th scope="col">Incharge</th>
                                            <th scope="col">from</th>
                                            <th scope="col">insituPosition</th>
                                            <th scope="col">CreateDate</th>
                                            <th scope="col">TotalTime</th>
                                            <th scope="col">After0</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% load my_filter %}
                                    {% for channel in channels %}
                                         <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                             <td>
                                                <input style="width: 100px" type="text" name="channelDescription" class="form-control channelDescription" id="channelDescription" value="{{ channel.channelDescription }}"/>
                                            </td>
                                            <td >
                                                <input type="text" name="ChnlName" class="form-control ChnlName" id="ChnlName" value="{{ channel.ChnlName }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="Unit" class="form-control Unit" id="Unit" value="{{ channel.Unit }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="ChnlId" class="form-control ChnlId" id="ChnlId" value="{{ channel.ChnlId }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="Len" class="form-control Len" id="Len" value="{{ channel.Len }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="Post" class="form-control Post" id="Post" value="{{ channel.Post }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="MaxDat" class="form-control MaxDat" id="MaxDat" value="{{ channel.MaxDat }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="Freq" class="form-control Freq" id="Freq" value="{{ channel.Freq }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="LowRang" class="form-control LowRang" id="LowRang" value="{{ channel.LowRang }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="HighRang" class="form-control HighRang" id="HighRang" value="{{ channel.HighRang }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="Factor" class="form-control Factor" id="Factor" value="{{ channel.Factor }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="Offset" class="form-control Offset" id="Offset" value="{{ channel.Offset }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="Dly" class="form-control Dly" id="Dly" value="{{ channel.Dly }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="DatAttr" class="form-control DatAttr" id="DatAttr" value="{{ channel.DatAttr }}"/>
                                            </td>
                                            <td >
                                                <input style="width:100px" type="text" name="DatWth" class="form-control DatWth" id="DatWth" value="{{ channel.DatWth }}"  />
                                            </td>
                                            <td>
                                                <input type="text" name="division" class="form-control division" id="division" value="{{ channel.division }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="personInCharge" class="form-control personInCharge" id="personInCharge" value="{{ channel.personInCharge }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="fromPosition" class="form-control fromPosition" id="fromPosition" value="{{ channel.fromPosition }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="insituPosition" class="form-control insituPosition" id="insituPosition" value="{{ channel.insituPosition }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="implementationHistory" class="form-control implementationHistory" id="implementationHistory" value="{{ channel.implementationHistory }}"/>
                                            </td>

                                            <td>
                                                <input type="text" name="TotalTime" class="form-control TotalTime" id="TotalTime" value="{{ channel.Len|div:channel.Freq }}"/>
                                            </td>
                                            <td>
                                                <input type="text" name="After0" class="form-control After0" id="After0" value="{{ channel.Post|div:channel.Freq }}"/>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-md-2 border-left">
                                <div class="btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons" >
                                    <label class="btn btn-outline-primary ">
                                        <input type="radio" name="mds" id="UdMDS" autocomplete="off" value="UdMDS">UdMDS
                                    </label>
                                    <label class="btn btn-outline-primary active ">
                                        <input type="radio" name="mds" id="NoMDS" autocomplete="off" value="NoMDS" checked>NoMDS
                                    </label>
                                </div>
                                <hr>
                                 <div class="input-group">
    {#                                            <label for="inputShot">Shot:</label>#}
                                     <div class="input-group-prepend">
                                         <span class="input-group-text" id="label-shot">Shot</span>
                                      </div>
                                    <input type="number" name="inputShot" class="form-control inputShot" id="inputShot" value="{{ header.2 }}" aria-describedby="label-shot"/>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="button" id="ModifyAll" class="btn btn-outline-primary ModifyAll" style="width: 50%">ModifyAll</button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="button" id="Load" class="btn btn-outline-primary Load" style="width: 50%">Load</button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="submit" id="Submit" class="btn btn-outline-primary Submit" style="width: 50%">Submit</button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="button" id="home" class="btn btn-outline-primary home" style="width: 50%">Home</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}

        <script src="{% static "ACQ/popper.min.js" %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static "ACQ/bootstrap.min.js" %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static "ACQ/bootstrap-table.min.js"%}"></script>
    </body>

</html>
