<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>APS</title>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static "acq/jsmind.css" %}" />
        <link rel="stylesheet" href="{% static "acq/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "acq/bootstrap-table.min.css" %}">
        <script type="text/javascript" src="{% static "acq/jsmind.js" %}"></script>
        <script type="text/javascript" src="{% static "acq/jquery.min.js" %}"></script>
        <script type="text/javascript">


        </script>
        <!--
            enable drag-and-drop feature
            <script type="text/javascript" src="js/jsmind.draggable.js"></script>
        -->
    </head>
    <body>
        <div class="container-fluid">
            <!-- 主题 -->
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3 id="title" class="text-center">
                        高速采集参数结构
{#                        <small class="text-muted">Designed by Dr. Songxm</small>#}
                    </h3>
                </div>
            </div>
            <hr>
            <div class="row shadow p-3 mb-5 bg-white rounded">
                <div class="col-md-3" >
                    <div class="input-group">
                        <input type="text" id="display" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                     <div class="input-group">
                         <div class="input-group-prepend">
                             <span class="input-group-text" id="label-shot">Shot</span>
                         </div>
                         <input type="number" name="inputShot" class="form-control inputShot" id="inputShot" value="{{ shot }}" aria-describedby="label-shot"/>
                     </div>
                </div>
                <div class="col-md-1">
                    <button type="button" id="Modify" class="btn btn-outline-primary Submit" style="width: 100%">Modify</button>
                </div>
                <div class="col-md-1">
                     <button type="button" id="Submit" class="btn btn-outline-primary Submit" style="width: 100%">Submit</button>
                </div>
                <div class="col-md-1">
                     <button type="button" id="Load" class="btn btn-outline-primary Submit" style="width: 100%">Load</button>
                </div>
                <div class="col-md-1">
                    <button type="button" id="Table" class="btn btn-outline-primary Submit" style="width: 100%">Table</button>
                </div>

                <div class="col-md-1">
                    <button type="button" id="home" class="btn btn-outline-primary Submit" style="width: 100%">Home</button>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12">
                    <div id="jsmind_container" style="width: 100%; height: 700px"></div>
                </div>
                <script type="text/javascript">
                    var mindData ={{ acqmind|safe}}
                    var options = {
                        container:'jsmind_container',
                        theme:'primary',
                        editable:true
                    };
                    var jm = new jsMind(options);
                    jm.show(mindData);
                    jm.disable_edit();
                    {#jm.expand_to_depth(3)#}
                    $("#Submit").click(function () {
                        var shot=$("#inputShot").val();
                        $.get("{% url "acq:checkshot" %}",{"shotnum":shot},function (result,status,xhr) {
                            if(status=="success" && result.older=="True"){
                                alert("Could not modify experimented files!");
                            }
                            else{
                                 $.post("/acq/save/tree/",{
                                "newacq":JSON.stringify(jm.get_data("node_tree").data),
                                "shot":$("#inputShot").val()
                                },
                                function (data,status) {
                                    if (status=="success"){
                                        alert(data.result)
                                    }else{
                                        alert("some error occur when submit")
                                    }

                                })
                            }
                        }
                    )

                    });
                    $("#Modify").click(function () {
                        jm.enable_edit()
                    });
                    $("#Modify").dblclick(function () {
                        jm.disable_edit()
                    });
                    function quitWithoutOperate() {


                        var quiteTime = 60 * 60;
                        var currentTime = 0;
                        $("*").click(function () {
                            currentTime = 0;
                        });

                        $('*').mouseover(function () {
                            currentTime = 0;
                        });

                        setInterval(function () {
                            currentTime++;
                            if (currentTime >= quiteTime) {
                                {#alert("20分钟无人操作！");#}
                                window.location.href = window.location.origin + "/login";
                            }
                        }, 1000);
                    }
                    quitWithoutOperate()
                    $("#Load").click(function () {
                    var shot=$("#inputShot").val();
                    $.get("../checkshot",{"shotnum":shot},function (result,status,xhr) {
                        if(status=="success" && result.exist=="yes"){
                            window.location.href="../load/"+shot;
                        }
                        else{
                            alert("This Shot Is Not Exist!");
                        }
                        })
                });
                    $("#home").click(function () {
                        window.location.href=window.location.origin+"/home"
                    });
                    $("#Table").click(function () {
                        window.location.href=window.location.origin+"/acq/load/table/"+$("#inputShot").val()
                    })
                    $("#jsmind_container").mousedown(function () {
                        var node = jm.get_selected_node()
                        var regnode=/(Crate|Card|Channel)[1-9]+/
                        if(node){
                            if(regnode.test(node.topic)){
                                $("#display").val(node.children[0].children[0].topic+"-"+node.children[1].children[0].topic);
                            }else{
                                $("#display").val("");
                            }
                        }

                    })
                    $("#jsmind_container").dblclick(function () {
                        if(jm.get_selected_node()){
                            jm.toggle_node(jm.get_selected_node())
                        }

                    })
            </script>
            </div>

        </div>
    </body>
</html>