
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static "dpf/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "dpf/bootstrap-table.min.css" %}">
        <style type="text/css">
            input {text-align: center;}
            div.tab-pane.fade{margin:auto;}
        </style>
        <script type="text/javascript" src="{% static "dpf/jquery.min.js" %}"></script>
        <script type="text/javascript">
            $(function () {
                $("input").not("#inputShot").attr("readonly","readonly");
                $("#ModifyAll").click(function () {
                    $("input").removeAttr("readonly");
                })
                $("#ModifyAll").dblclick(function () {
                    $("input").not("#inputShot").attr("readonly","readonly");
                })
                var quiteTime = 60 * 60;
                var currentTime = 0;
                $("*").click(function () {
                    currentTime = 0;
                });

                $('*').mouseover(function () {
                    currentTime = 0;
                });

                setInterval(function () {
                    currentTime++;
                    if (currentTime >= quiteTime) {
                        {#alert("20分钟无人操作！");#}
                        window.location.href = window.location.origin + "/login";
                    }
                }, 1000);
                $("#Load").click(function () {
                    var shot=$("#inputShot").val();
                    $.get("../checkshot",{"shotnum":shot},function (result,status,xhr) {
                        if(status=="success" && result.exist=="yes"){
                            window.location.href="../load/"+shot;
                        }
                        else{
                            alert("This Shot Is Not Exist!")
                        }
                        })
                });
                $("#home").click(function () {
                    window.location.href=window.location.origin+"/home"
                });
                {# $("#Submit").click(function () {#}
                {#    var shot=$("#inputShot").val();#}
                {##}
                {#    $.get("{% url "dpf:checkshot" %}",{"shotnum":shot},function (result,status,xhr) {#}
                {#        if(status==="success" && result.older==="True"){#}
                {#            alert("Could not modify experimented files!");#}
                {#        }#}
                {#        else{#}
                {#            $("form").submit();#}
                {#        }#}
                {#    }#}
                {#    )#}
                {#'});#}
                $("#Submit").click(function () {
                    var shot=$("#inputShot").val();
                    $.get("{% url "dpf:checkshot" %}",{"shotnum":shot},function (result,status,xhr) {
                        if(status==="success" && result.older==="True"){
                            alert("Could not modify experimented files!");
                        }
                        else{
                            $.post("{% url "dpf:dpf_save" %}",{"data":JSON.stringify($("form").serialize())},function(result,status,xhr){
                                if(status=="success"){
                                    alert(result.save_result);
                                    if (result.save_result=="success"){
                                        window.location.href="../load/"+shot;
                                    }
                                }
                            })

                        }
                    }
                    )
                });
                $("#new_send").click(function (){
                    var node=$(":radio:checked").val()
                    var shot=$("#inputShot").val();
                    $.post("{% url "dpf:dpf_new" %}",{"new_node":node,"shotnum":shot},function (result, status, xhr) {
                        $("#exampleModal").modal("hide");
                        if(status==="success" && result.result==="ok"){
                            window.location.href=window.location.origin+"/dpf/load/"+parseInt(shot).toString();
                        }
                    })
                })
            })
        </script>
        <title>DPF</title>
    </head>

    <body>

        <div class="container-fluid">
            <!-- 主题 -->
            <div class="row">
                <div class="col-md-12">
                    <h3 id="title" class="text-center">
                        反馈控制参数
{#                        <small class="text-muted">Designed by Dr. Songxm</small>#}
                    </h3>
                </div>
            </div>
            <hr>
            <!--header information-->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="version">Version:</span>
                      </div>
                      <input type="text" name="version" id="version" class="form-control version header"  aria-describedby="version"  disabled="true" value="{{ dpf.Header.version }}">
                    </div>
                 </div>
                <div class="col-md-2">
                     <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="operator">Operator:</span>
                          </div>
                          <input type="text" name="operator" id="operator" class="form-control header"  aria-describedby="operator"  disabled="true" value="{{ dpf.Header.operator }}">
                    </div>
                 </div>
                <div class="col-md-2">
                     <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">ShotNum:</span>
                          </div>
                          <input type="text" name="ShotNum" id="ShotNum" class="form-control header"  aria-describedby="basic-addon1" disabled="true" value="{{ dpf.Header.shotnum }}">
                    </div>
                 </div>
                <div class="col-md-3"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#OperationMode" role="tab" aria-controls="pills-home" aria-selected="true">OperationMode</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Command" role="tab" aria-controls="pills-profile" aria-selected="false">Command</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#PIDcontroller" role="tab" aria-controls="pills-contact" aria-selected="false">PIDcontroller</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#EngineeringLimit" role="tab" aria-controls="pills-contact" aria-selected="false">EngineeringLimit</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#Other" role="tab" aria-controls="pills-contact" aria-selected="false">Other</a>
                      </li>
                    </ul>
                    <form action="{% url "dpf:dpf_save" %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-10">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="OperationMode" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="col-md-6" style="margin: auto;">
                                            <table class="table table-hover m-3 table-sm" style="text-align: center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Value</th>
                                                        <th scope="col">comment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for oms in dpf.OperationMode %}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>
                                                            <input type="text" name="OperationMode_name" class="form-control OperationMode_name" id="OperationMode_name" value="{{ oms.name }}" />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="OperationMode_value" class="form-control OperationMode_value" id="OperationMode_value" value="{{ oms.value }}"/>
                                                        </td>
                                                        <td>
                                                            <input type="text" name="OperationMode_comment" class="form-control OperationMode_comment" id="OperationMode_comment" value="{{ oms.comment }}"/>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Command" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="col-md-10 " style="margin: auto;">
                                            <table id="table" class="table table-hover m-3 table-sm " style="text-align: center" >
                                              <thead>
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">Value</th>
                                                  <th scope="col">Incharge</th>
                                                  <th scope="col">CreateDate</th>
                                                  <th scope="col">Db</th>
                                                  <th scope="col">Comment</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for cmds in dpf.Command %}
                                                <tr>
                                                  <th scope="row">{{ forloop.counter }}</th>
                                                  <td>
                                                      <input type="text" name="Command_name" class="form-control Command_name" id="Command_name" value="{{ cmds.name }}" />
                                                  </td>
                                                  <td>
                                                      <input type="text" name="Command_value" class="form-control Command_value" id="Command_value" value="{{ cmds.value }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="Command_personInCharge" class="form-control Command_personInCharge" id="Command_personInCharge" value="{{ cmds.personInCharge }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="Command_implementationHistory" class="form-control Command_implementationHistory" id="Command_implementationHistory" value="{{ cmds.implementationHistory }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="Command_db" class="form-control Command_db" id="Command_db" value="{{ cmds.db}}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="Command_comment" class="form-control Command_comment" id="Command_comment" value="{{ cmds.comment }}"/>
                                                  </td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="PIDcontroller" role="tabpanel" aria-labelledby="pills-contact-tab">
                                        <div class="col-md-12" style="margin: auto;">
                                            <table class="table table-hover m-3 table-sm " style="text-align: center">
                                              <thead>
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">P</th>
                                                  <th scope="col">I</th>
                                                  <th scope="col">D</th>
                                                  <th scope="col">RC</th>
                                                  <th scope="col">MaxdU</th>
                                                  <th scope="col">FBStart</th>
                                                  <th scope="col">maxInvAngle</th>
                                                  <th scope="col">InCharge</th>
                                                  <th scope="col">CreateDate</th>
                                                  <th scope="col">Comment</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for pids in dpf.PIDcontroller %}
                                                  <tr>
                                                  <th scope="row">{{ forloop.counter }}</th>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_name" class="form-control PIDcontroller_name" id="PIDcontroller_name" value="{{ pids.name }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_P" class="form-control PIDcontroller_P" id="PIDcontroller_P" value="{{ pids.P }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_I" class="form-control PIDcontroller_I" id="PIDcontroller_I" value="{{ pids.I }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_D" class="form-control PIDcontroller_D" id="PIDcontroller_D" value="{{ pids.D}}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_RC" class="form-control PIDcontroller_RC" id="PIDcontroller_RC" value="{{ pids.RC }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_maxdU" class="form-control PIDcontroller_maxdU" id="PIDcontroller_maxdU" value="{{ pids.maxdU }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_FBStart" class="form-control PIDcontroller_FBStart" id="PIDcontroller_FBStart" value="{{ pids.FBStart }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_maxInvAngle" class="form-control PIDcontroller_maxInvAngle" id="PIDcontroller_maxInvAngle" value="{{ pids.maxInvAngle }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_personInCharge" class="form-control PIDcontroller_personInCharge" id="PIDcontroller_personInCharge" value="{{ pids.personInCharge }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_implementationHistory" class="form-control PIDcontroller_implementationHistory" id="PIDcontroller_implementationHistory" value="{{ pids.implementationHistory }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="PIDcontroller_comment" class="form-control PIDcontroller_comment" id="PIDcontroller_comment" value="{{ pids.comment }}"/>
                                                  </td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="EngineeringLimit" role="tabpanel" aria-labelledby="pills-contact-tab">
                                         <div class="col-md-12" style="margin: auto;">
                                            <table class="table table-hover m-3 table-sm" style="text-align: center">
                                              <thead>
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">Value</th>
                                                  <th scope="col">Incharge</th>
                                                  <th scope="col">CreateDate</th>
                                                  <th scope="col">Comment</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for els in dpf.EngineeringLimit %}
                                                <tr>
                                                  <th scope="row">{{ forloop.counter }}</th>
                                                  <td>
                                                      <input type="text" name="EngineeringLimit_name" class="form-control EngineeringLimit_name" id="EngineeringLimit_name" value="{{ els.name }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="EngineeringLimit_value" class="form-control EngineeringLimit_value" id="EngineeringLimit_value" value="{{ els.value }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="EngineeringLimit_personInCharge" class="form-control EngineeringLimit_personInCharge" id="EngineeringLimit_personInCharge" value="{{ els.personInCharge }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="EngineeringLimit_implementationHistory" class="form-control EngineeringLimit_implementationHistory" id="EngineeringLimit_implementationHistory" value="{{ els.implementationHistory }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="EngineeringLimit_comment" class="form-control EngineeringLimit_comment" id="EngineeringLimit_comment" value="{{ els.comment }}" style="width:300px" />
                                                  </td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Other" role="tabpanel" aria-labelledby="pills-contact-tab">
                                        <div class="col-md-6" style="margin: auto;">
                                            <table class="table table-hover m-3 table-sm" style="text-align: center">
                                              <thead>
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">Value</th>
                                                  <th scope="col">Remark</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for ots in  dpf.Other %}
                                                <tr>
                                                  <th scope="row">{{ forloop.counter }}</th>
                                                  <td>
                                                      <input type="text" name="Other_name" class="form-control Other_name" id="Other_name" value="{{ ots.name }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="Other_value" class="form-control Other_value" id="Other_value" value="{{ ots.value }}"/>
                                                  </td>
                                                  <td>
                                                      <input type="text" name="Other_remark" class="form-control Other_remark" id="Other_remark" value="{{ ots.remark }}" style="width:300px"/>
                                                  </td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 border-left">
                                <div class="input-group">
{#                                    <label for="inputShot">Shot:</label>#}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="label-shot">Shot</span>
                                    </div>
                                    <input type="number" name="inputShot" class="form-control inputShot" id="inputShot" value="{{ dpf.Header.shotnum }}" aria-describedby="label-shot"/>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="button" id="ModifyAll" class="btn btn-outline-primary ModifyAll" style="width: 50%">ModifyAll</button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="button" id="Load" class="btn btn-outline-primary Load" style="width: 50%">Load</button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="button" id="Submit" class="btn btn-outline-primary Submit" style="width: 50%">Submit</button>
                                </div>
                                <hr>
                                 <div class="text-center">
                                    <button type="button" id="New" class="btn btn-outline-primary  New" data-toggle="modal" data-target="#exampleModal"  style="width: 50%">New</button>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="button" id="home" class="btn btn-outline-primary home" style="width: 50%">Home</button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Node</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ">
                                <div class="btn-group  col-md-12" data-toggle="buttons">
                                    <label class="btn btn-outline-primary active" for="new_option1">
                                        <input type="radio" name="new_node" id="new_option1" autocomplete="off" value="OperationMode" checked="checked"> OperateMode
                                    </label>
                                    <label class="btn btn-outline-primary" for="new_option2">
                                        <input type="radio" name="new_node" id="new_option2" autocomplete="off" value="Command"> Command
                                    </label>
                                    <label class="btn btn-outline-primary" for="new_option3">
                                        <input type="radio" name="new_node" id="new_option3" autocomplete="off" value="PIDcontroller"> PIDcontroller
                                    </label>
                                    <label class="btn btn-outline-primary" for="new_option4">
                                        <input type="radio" name="new_node" id="new_option4" autocomplete="off" value="EngineeringLimit"> EngineeringLimit
                                    </label>
                                    <label class="btn btn-outline-primary" for="new_option5">
                                         <input type="radio" name="new_node" id="new_option5" autocomplete="off" value="Other"> Other
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="new_send">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}

        <script src="{% static "dpf/popper.min.js" %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static "dpf/bootstrap.min.js" %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static "dpf/bootstrap-table.min.js"%}"></script>
    </body>

</html>
